body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

h1 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

p {
  color: hsl(233, 8%, 62%);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8em;
}

h3 {
  font-weight: 300;
}

.flex {
  display: flex;
}

/* NAVBAR */

.header-container {
  align-items: center;
  height: 10vh;
  justify-content: space-around;
  /* position :fixed; */
}

.navbar {
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 2;
}
.nav-logo {
  margin: 1.4em;
}

.nav-list {
  list-style: none;
  display: none;
}

.navlist-active {
  display: block;
}

.nav-items {
  margin: 1em;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  font-size: 15px;
  text-align: center;
}

#btn-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.6em;
}

.btn {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border: 0;
  border-radius: 1.5em;
  color: white;
  height: 3em;
  width: 10em;
}

.nav-btn {
  display: none;
}

.btn-request:focus {
  outline: none;
}

.nav-list {
  display: hidden;
}

/* INTRO CONTENT */

.intro-container {
  flex-direction: column;
  width: 100vw;
}

.intro-img {
  background-image: url("./images/bg-intro-mobile.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30em;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.intro-mobile-img {
  height: 22em;
}

.intro-content {
  order: 2;
  padding: 1em;
  text-align: center;
  justify-content: center;
}

.btn-request {
  margin-top: 1.4em;
}

/* PROMO CONTENT */

.promo-container {
  background-color: hsl(220, 16%, 96%);
  flex-direction: column;
}

.promo-content {
  padding: 1em;
  text-align: center;
}

.promo-features {
  align-items: center;
  flex-direction: column;
}

.feature {
  padding: 1.2em;
  text-align: center;
}

.feature-title {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

/* ARTICLES */

.articles-container {
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  flex-direction: column;
  padding-bottom: 3em;
  padding-top: 3em;
}

.article-news-container {
  flex-direction: column;
}

.article-cards {
  background-color: white;
  border-radius: 1em;
  height: 30em;
  margin: 2em;
  overflow: hidden;
  width: 17.8em;
}

.article-img {
  height: 240px;
  width: 400px;
}

.article-content {
  padding: 1.2em;
}

.article-author {
  color: hsl(233, 8%, 62%);
  font-size: 12px;
  font-weight: 400;
}

/* FOOTER */

.social-media {
  flex-direction: column;
  margin-top: 4em;
  text-align: center;
}

.footer-container {
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  flex-direction: column;
}

.social-media-links {
  margin: 1em;
  justify-content: space-around;
}

.footer-social-logo {
  margin: 0.6em;
}

.footer-links {
  flex-direction: column;
}

.footer-nav-links {
  flex-direction: column;
}

.footer-nav-links {
  color: white;
  list-style: none;
  padding: 0;
  text-align: center;
}

.link {
  margin-bottom: 1em;
  cursor: pointer;
}

.copyrights {
  text-align: center;
  margin-bottom: 1em;
}

@media only screen and (min-width: 1440px) {
  p {
    margin: 0;
  }

  .nav-items:hover {
    cursor: pointer;
    background: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%))
      left bottom transparent no-repeat;
    background-size: 100% 5px;
  }

  #btn-hamburger {
    display: none;
  }

  .navbar-content {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .nav-btn {
    display: block;
  }

  .nav-list {
    padding-left: 0;
    display: flex;
    margin: 0;
  }

  .nav-items {
    display: flex;
    align-items: center;
  }

  .intro-container {
    flex-direction: row;
    height: 60vh;
  }
  .intro-content {
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: center;
    order: 1;
    height: inherit;
    width: 40vw;
    padding-left: 4em;
  }
  .intro-img {
    display: flex;
    order: 2;
    width: 60vw;
    background-image: url("./images/bg-intro-desktop.svg");
    background-position: left;
    background-size: 60em;
    height: inherit;
    background-repeat: no-repeat;
  }

  .intro-mobile-img {
    position: absolute;
    height: 42em;
    left: 61.6vw;
    bottom: 12em;
  }

  .promo-content {
    text-align: start;
    margin: 2em;
    margin-bottom: 0;
    padding: 2em;
    width: 28em;
  }

  .promo-features {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0;
  }

  .feature {
    height: 20em;
    width: 14em;
    text-align: start;
  }
  .articles-container {
    align-items: flex-start;
  }

  .article-heading {
    margin: 4em;
    margin-bottom: 0;
    margin-top: 0;
  }

  .article-heading {
    text-align: start;
  }

  .article-news-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.4em;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
  }

  .social-media {
    margin-top: 0;
  }

  .footer-links {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-nav-links {
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .link {
    margin: 1em;
  }
  .copyrights {
    text-align: end;
  }

  #copyrights-text {
    padding: 1em;
    padding-right: 0;
  }
}
